@themeColor: darkblue;
@fontColorOnTheme: darkblue;
@fontColorOnNeutral: darkblue;
@backgroundColor: white;
@backgroundOpacity: white;

@import "~@talentsoft/uxp-themes/dist/assets/styles/index.less";
@import "~@talentsoft/integration-widget-component/dist/src/assets/widget.less";

html, body {
    height: 100%;
}

.main {
    background-image: url("../assets/images/hip-square.png");
    background-repeat: repeat;
    background-size: 20%;
}

#tool__widget__simul {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    width: 100%;
    height: 100%;
}

.tool__widget__header {
    display: flex;
    justify-content: space-between;
    background-color: darkblue;
    padding: 0 10px;
}

.tool__widget__settings {
    align-self: center;
    justify-self: right;
    font-family: "uxpfont";
    font-size: 3rem;
    color: white;

    &:hover {
        background-color: rgb(55, 55, 139);
        cursor: pointer;
    }
}

.tool__widget__config {
    flex-direction: column;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: darkblue;
    border-top: 1px solid;
    border-color: lightblue;
}

.tool__widget__display {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &.enlarged {
        flex-direction: column-reverse;
        padding: 1rem;
        align-items: flex-start;

        .tool_widget_dummy { 
            width: 100%;
            flex: 1;
        }

        .widget-base {
            height: 100%;
        }

        .tool_widget_in_test {
            width: 175px;
            height: 175px;
            margin-top: 1rem;
        }

        .widget-minified {
            width: 175px;
            height: 175px;
        }

        .widget-minified .widget-enlargeable:before {
            left: 8%;
            top: -25px;
        }

        .widget-content.enlarged {
            height: auto;
        }
    }
}

.tool_widget_in_test {
    width: 370px;
}

.tool_widget_dummy {
    width: 370px;
}
